<%= form_for [@parent, Comment.new], remote: true do |f| %>
<p id="error-msg"></p>
<p>
  <%= f.label :body, "New comment" %><br/>
  <%= f.text_area :body, class: "form-control", size: "7x7" %>
</p>
<p><%= f.submit "Add comment", class: "btn btn-primary" %></p>
<% end %>