<div class="wrapper">

 	<div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">    
				<div class="table-responsive">
					<div id="creation_form" class="span11">
					  <h1 class=" page_header">404!</h1>
					  <legend></legend>
					  <p>I'm sorry. We couldn't find the page you were looking for.</p>
					  <p>Please try again.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
